<div class="card-body pt-0">
  <div *ngFor="let error of errorsList" class="alert alert-danger text-center" role="alert">{{error}}</div>
  <section class="mydeq-summary">
    <h3>Summary</h3>
    <h6 class="font-weight-normal pl-2">Please review and click EDIT to modify. Then click CONTINUE.</h6>
    <div class="pt-2 px-2 table-responsive">
      <table class="table table-striped">
        <tbody class="h5">
          <tr>
            <td width="45%">
              <div class="cushion-left-10">Place</div>
            </td>
            <td class="font-weight-light" colspan="2">
              <p>{{utils.placeName}}</p>
              <p>{{utils.placeAddress}}</p>
            </td>
          </tr>
          <tr *ngIf="showNoDataDmrQuestion">
            <td width="45%">
              <div class="cushion-left-10">Did you have any discharge events that met the thresholds for DMGP reporting requirements?</div>
            </td>
            <td class="font-weight-light">
              <div>{{noDataReason.booleanAnswer}}</div>

            </td>

            <td class="pr-3 text-right">
              <a href="javascript:void(0)" class="text-primary" (click)="editDetails('no_data_q')">EDIT</a>
            </td>
          </tr>
          <tr *ngIf="showNoDataDmrSection">
            <td width="45%">
              <div class="cushion-left-10">Why is there no data to report?</div>
            </td>
            <td class="font-weight-light">
              <div>{{noDataReason.userNodiText}}</div>
              <div>Comments: {{noDataReason.comments}}</div>
            </td>

            <td class="pr-3 text-right">
              <a href="javascript:void(0)" class="text-primary" (click)="editDetails('no_data_q')">EDIT</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="px-3" *ngIf="showSavedEventSection">
      <section>
        <h5 class="mb-3 pl-2">Selected discharge event result logs:</h5>
        <div class="table-responsive ">
          <table class="table table-striped h6" [mfData]="savedEventList" #mf="mfDataTable" [mfRowsOnPage]="6" mfSortBy="eventName" mfSortOrder="desc" [isDynamicTable]="false">
            <thead>
              <tr>
                <td>
                  <mfDefaultSorter by="eventName">Discharge Event ID</mfDefaultSorter>
                </td>
                <td><mfDefaultSorter by="outfallName">Point of Discharge Name</mfDefaultSorter>
                </td>
                <td>Discharge Start Date</td>
                <td>Discharge End Date</td>
                <td>Status</td>
                <td style="width: 10%">Edit</td>
              </tr>
            </thead>
            <tbody class="cushion-top-0 tableRowFont font-weight-light">
              <tr>
                <td colspan="6" style="border-top-color: #d2c1ab;border-top-width: 2px;border-top-style: solid;"></td>
              </tr>
              <tr *ngFor="let dischargeEvent of mf.data;let i=index;"
                [ngClass]="{evenRow:isEvenRow(i),oddRow:!isEvenRow(i)}">
                <td>{{dischargeEvent.eventId}}</td>
                <td>{{dischargeEvent.outfallName}}</td>
                <td>{{dischargeEvent.dischargeStartDate}}</td>
                <td>{{dischargeEvent.dischargeEndDate}}</td>
                <td>{{dischargeEvent.status}}</td>
                <td class="buffer-top-5 ">
                  <a href="javascript:void(0)" id="{{dischargeEvent.eventId}}" (click)="viewDischargeEventnDetails(dischargeEvent.eventId)">VIEW</a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6" class="cushion-bottom-0 buffer-bottom-0 cushion-left-0">
                  <div class="cushion-bottom-0 buffer-bottom-0" style="color: #d2c1ab;">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="clearfix"> </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
      <div class="clearfix"></div>
      <!-- action bar -->

    </div>
  </section>
  <div class="clearfix"></div>
</div>
<div class="card-footer">
  <button type="button" class="btn btn-primary float-left" (click)="goBack()">
    <span class="arrow left"><i class="fa fa-chevron-left"></i> </span>BACK
  </button>
  <button type="button" class="btn btn-primary float-right" (click)="continue()">
    CONTINUE<span class="arrow right"> <i class="fa fa-chevron-right"></i></span>
  </button>
  <div class="clearfix"></div>
</div>
