<form [formGroup]="logMonitoringQuestionForm">
  <div class="card-body pt-0">
    <div *ngFor="let error of errorsList" class="alert alert-danger text-center" role="alert">{{error}}</div>
    <h5 class="mb-2 font-weight-light">REPORTING PERIOD:{{model.reportingPeriodText}}</h5>
    <div *ngIf="showListing">
      <h3 class="mb-2">Monitored Outfalls/Field Screening Points</h3>
      <div class="table-responsive" *ngIf="showListing">
        <table class="table table-striped" [mfData]="model.outfallReportingDetailList" #mf="mfDataTable" [mfRowsOnPage]="15" mfSortBy="outfallName" mfSortOrder="desc">
          <thead>
            <tr>
              <td>Row #</td>
              <td><mfDefaultSorter by="outfallName">Monitoring Point ID</mfDefaultSorter></td>
              <td>Monitoring Point Type</td>
              <td>Source</td>
              <td>Sampling Type</td>
              <td># of Samples</td>
              <td style="width: 10%">Status</td>
              <td style="width: 7%">View</td>
              <td style="width: 7%">Delete</td>
            </tr>
          </thead>
          <tbody class="font-weight-light">
            <tr *ngFor="let outfallReportingDetail of mf.data;let i=index">
              <td>{{i+1}}</td>
              <td>{{outfallReportingDetail.outfallName}}</td>
              <td>{{outfallReportingDetail.locationType == 'FSP' ?'Field Screening Point' : 'Outfall'}}</td>
              <td>{{outfallReportingDetail.newIndicator == 'Y' ? 'DMR' : 'NOI' }}</td>
              <td>{{outfallReportingDetail.samplingType == 'VDM' ?'Visual':'Analytical'}}</td>
              <td>{{outfallReportingDetail.noOfSamples}}</td>
              <td>{{outfallReportingDetail.status == 'SAVD' ? 'SAVED' : 'DRAFT' }}</td>
              <td>
                <a href="javascript:void(0)" id="{{outfallReportingDetail.outfallMonitId}}" (click)="viewOutfallSampleDataDetails(outfallReportingDetail.outfallMonitId,outfallReportingDetail.samplingType)">
                  VIEW
                </a>
              </td>
              <td>
                <a href="javascript:void(0)" [ngbPopover]="deleteConfirm" id="{{outfallReportingDetail.outfallMonitId}}">
                  <i class="fa fa-trash-alt fa-lg text-primary"></i>
                </a>
              </td>
              <ng-template #deleteConfirm>
                <h6 *ngIf="outfallReportingDetail.newIndicator == 'Y'">It will delete outfall and its logged data?</h6>
                <h6 *ngIf="outfallReportingDetail.newIndicator == 'N'">It will delete outfall's logged data?</h6>
                <div class="w-100 d-block clearfix pt-2">
                  <button type="button" class="btn btn-sm btn-primary float-right" id="delete_user_Y" (click)="deleteOutfallSampleDetails('Y',outfallReportingDetail.outfallMonitId,outfallReportingDetail.samplingType)">YES</button>
                  <button type="button" class="btn btn-sm btn-danger float-left" id="delete_user_N" (click)="deleteOutfallSampleDetails('N',outfallReportingDetail.outfallMonitId,outfallReportingDetail.samplingType)">NO</button>
                </div>
              </ng-template>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="9" class="cushion-bottom-0 buffer-bottom-0 cushion-left-0">
                <div class="cushion-bottom-0 buffer-bottom-0" style="color: #d2c1ab;">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
                  <!-- <div class="clearfix"> </div> -->
                </div>
                <!-- <div class="clearfix"> </div> -->
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <section>
      <h3>Are sampling results available and ready for entry into the DMR?</h3>
      <h6 class="pl-2">Select one and click CONTINUE. NOTE: When all monitoring data has been entered, select No return to Dashboard. Then from the dashboard select Certify DMR from the Actions drop-down and follow the instructions to submit the DMR. </h6>
<!--      <h6 class="pl-2 font-weight-light">When all monitoring data has been entered, return to the dashboard and select Certify DMR from the Actions drop-down. Then, follow the instructions to submit the DMR.</h6>-->
      <div class="pl-2 pt-2">
        <div class="custom-control custom-radio" [ngClass]="{'has-danger': error_fields['booleanAnswer']}">
          <input type="radio" class="custom-control-input" id="userSelectionY" formControlName="booleanAnswer" value="Y" (change)="logMonitoringQuestionForm.get('logMonitoringType').reset()"/>
          <label class="custom-control-label" for="userSelectionY">Yes</label>
        </div>
      </div>
      <div *ngIf="logMonitoringQuestionForm.get('booleanAnswer').value === 'Y'" class="bg-secondary p-3 mx-5">
        <h3 class="font-weight-light">What type of monitoring was conducted?</h3>
        <div class="pl-2 py-2">
          <div class="custom-control custom-radio" [ngClass]="{'has-danger': error_fields['logMonitoringType']}">
            <input type="radio" class="custom-control-input" id="logMonitoringTypeV" formControlName="logMonitoringType" name="logMonitoringType" value="VDM" />
            <label class="custom-control-label" for="logMonitoringTypeV">Visual Discharge  Monitoring</label>
          </div>
          <div class="custom-control custom-radio" [ngClass]="{'has-danger': error_fields['logMonitoringType']}">
            <input type="radio" class="custom-control-input" id="logMonitoringTypeA" formControlName="logMonitoringType" name="logMonitoringType" value="ANM"/>
            <label class="custom-control-label" for="logMonitoringTypeA">Analytical Discharge Monitoring</label>
          </div>
        </div>
      </div>
      <div class="pl-2 pt-2">
        <div class="custom-control custom-radio" [ngClass]="{'has-danger': error_fields['booleanAnswer']}">
          <input type="radio" class="custom-control-input" id="userSelectionN" formControlName="booleanAnswer" value="N" (change)="logMonitoringQuestionForm.get('logMonitoringType').reset()" />
          <label class="custom-control-label" for="userSelectionN">No, return to the Dashboard</label>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary float-left" (click)="goBack()">
      <span class="arrow left"><i class="fa fa-chevron-left"></i></span>BACK
    </button>
    <button type="button" class="btn btn-primary float-right" (click)="continue(logMonitoringQuestionForm.value)">
      CONTINUE<span class="arrow right"><i class="fa fa-chevron-right"></i></span>
    </button>
    <div class="clearfix"></div>
  </div>
</form>